<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>filename</key>
			<string>cardboard_top.jpg</string>
			<key>folder</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/</string>
			<key>image</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/cardboard_top.jpg</string>
			<key>image-full</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/cardboard_top_source.jpg</string>
			<key>image-high</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/cardboard_top_source.jpg</string>
			<key>thumbnail</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/cardboard_top_thumb.jpg</string>
			<key>title</key>
			<string>Cardboard</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>gridpaper.jpg</string>
			<key>folder</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/</string>
			<key>image</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/gridpaper_med.jpg</string>
			<key>image-full</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/gridpaper_source.jpg</string>
			<key>image-high</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/gridpaper_source.jpg</string>
			<key>thumbnail</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/gridpaper_thumb.jpg</string>
			<key>title</key>
			<string>Grid Paper</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>willie-poster-bg.jpg</string>
			<key>folder</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/</string>
			<key>image</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/willie-poster-bg.jpg</string>
			<key>image-full</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/willie-poster-bg.jpg</string>
			<key>image-high</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/willie-poster-bg.jpg</string>
			<key>thumbnail</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/willie-poster-bg-thumb.jpg</string>
			<key>title</key>
			<string>Willie Poster</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>concrete-wall.jpg</string>
			<key>folder</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/</string>
			<key>image</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/concrete-wall.jpg</string>
			<key>image-full</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/concrete-wall.jpg</string>
			<key>image-high</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/concrete-wall.jpg</string>
			<key>thumbnail</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/concrete-wall-thumb.jpg</string>
			<key>title</key>
			<string>Concrete</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>chalkboard_high.jpg</string>
			<key>folder</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/</string>
			<key>image</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/chalkboard_high.jpg</string>
			<key>image-full</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/chalkboard_source.jpg</string>
			<key>image-high</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/chalkboard_high.jpg</string>
			<key>thumbnail</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/chalkboard_thumb.jpg</string>
			<key>title</key>
			<string>Chalkboard</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>green_chalkboard_high.jpg</string>
			<key>folder</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/</string>
			<key>image</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/green_chalkboard_high.jpg</string>
			<key>image-full</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/green_chalkboard_source.jpg</string>
			<key>image-high</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/green_chalkboard_source.jpg</string>
			<key>thumbnail</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/green_chalkboard_thumb.jpg</string>
			<key>title</key>
			<string>Green Chalkboard</string>
		</dict>
		<dict>
			<key>enabled</key>
			<false/>
			<key>filename</key>
			<string>spacedust_source.jpg</string>
			<key>folder</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/</string>
			<key>image</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/spacedust_source.jpg</string>
			<key>image-full</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/spacedust_source.jpg</string>
			<key>image-high</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/spacedust_source.jpg</string>
			<key>thumbnail</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/spacedust_thumb.jpg</string>
			<key>title</key>
			<string>Spacedust</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>dusty.jpg</string>
			<key>folder</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/</string>
			<key>image</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/dusty_source.jpg</string>
			<key>image-full</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/dusty_source.jpg</string>
			<key>image-high</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/dusty_source.jpg</string>
			<key>thumbnail</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/dusty_thumb.jpg</string>
			<key>title</key>
			<string>Dusty</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>scanner_paper.jpg</string>
			<key>folder</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/</string>
			<key>image</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/scanner_paper_med.jpg</string>
			<key>image-full</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/scanner_paper_high.jpg</string>
			<key>image-high</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/scanner_paper_high.jpg</string>
			<key>thumbnail</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/scanner_paper_thumb.jpg</string>
			<key>title</key>
			<string>Scanner</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>old_school_paper.jpg</string>
			<key>folder</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/</string>
			<key>image</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/old_school_paper_med.jpg</string>
			<key>image-full</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/old_school_paper_source.jpg</string>
			<key>image-high</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/old_school_paper_source.jpg</string>
			<key>thumbnail</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/old_school_paper_thumb.jpg</string>
			<key>title</key>
			<string>Old School</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>green_stain.jpg</string>
			<key>folder</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/</string>
			<key>image</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/green_stain_med.jpg</string>
			<key>image-full</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/green_stain_source.jpg</string>
			<key>image-high</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/green_stain_source.jpg</string>
			<key>thumbnail</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/green_stain_thumb.jpg</string>
			<key>title</key>
			<string>Green Stain</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>white_diamonds.jpg</string>
			<key>folder</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/</string>
			<key>image</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/white_diamonds_med.jpg</string>
			<key>image-full</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/white_diamonds_source.jpg</string>
			<key>image-high</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/white_diamonds_source.jpg</string>
			<key>thumbnail</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/white_diamonds_thumb.jpg</string>
			<key>title</key>
			<string>White Diamonds</string>
		</dict>
		<dict>
			<key>enabled</key>
			<false/>
			<key>filename</key>
			<string>ethereal_green.jpg</string>
			<key>folder</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/</string>
			<key>image</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/ethereal_green_med.jpg</string>
			<key>image-full</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/ethereal_green_med.jpg</string>
			<key>image-high</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/ethereal_green_med.jpg</string>
			<key>thumbnail</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/ethereal_green_thumb.jpg</string>
			<key>title</key>
			<string>Ethereal</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>glass_texture.jpg</string>
			<key>folder</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/</string>
			<key>image</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/glass_texture_med.jpg</string>
			<key>image-full</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/glass_texture_source.jpg</string>
			<key>image-high</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/glass_texture_source.jpg</string>
			<key>thumbnail</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/glass_texture_thumb.jpg</string>
			<key>title</key>
			<string>Glass Texture</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>vintage_paper.jpg</string>
			<key>folder</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/</string>
			<key>image</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/vintage_paper_med.jpg</string>
			<key>image-full</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/vintage_paper_source.jpg</string>
			<key>image-high</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/vintage_paper_source.jpg</string>
			<key>thumbnail</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/vintage_paper_thumb.jpg</string>
			<key>title</key>
			<string>Vintage Paper</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>vintage_flower_paper.jpg</string>
			<key>folder</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/</string>
			<key>image</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/vintage_flower_paper_med.jpg</string>
			<key>image-full</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/vintage_flower_paper_source.jpg</string>
			<key>image-high</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/vintage_flower_paper_source.jpg</string>
			<key>thumbnail</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/vintage_flower_paper_thumb.jpg</string>
			<key>title</key>
			<string>Vintage Flowers</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>noise_streaky.jpg</string>
			<key>folder</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/</string>
			<key>image</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/noise_streaky_med.jpg</string>
			<key>image-full</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/noise_streaky_source.jpg</string>
			<key>image-high</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/noise_streaky_source.jpg</string>
			<key>thumbnail</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/noise_streaky_thumb.jpg</string>
			<key>title</key>
			<string>Noisey</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>filmy.jpg</string>
			<key>folder</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/</string>
			<key>image</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/filmy_source.jpg</string>
			<key>image-full</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/filmy_source.jpg</string>
			<key>image-high</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/filmy_source.jpg</string>
			<key>thumbnail</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/filmy_thumb.jpg</string>
			<key>title</key>
			<string>Filmy</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>vintage_book_green.jpg</string>
			<key>folder</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/</string>
			<key>image</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/vintage_book_green_med.jpg</string>
			<key>image-full</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/vintage_book_green_source.jpg</string>
			<key>image-high</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/vintage_book_green_source.jpg</string>
			<key>thumbnail</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/vintage_book_green_thumb.jpg</string>
			<key>title</key>
			<string>The Green Book</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>white_cardboard.jpg</string>
			<key>folder</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/</string>
			<key>image</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/white_cardboard_med.jpg</string>
			<key>image-full</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/white_cardboard_source.jpg</string>
			<key>image-high</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/white_cardboard_source.jpg</string>
			<key>thumbnail</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/white_cardboard_thumb.jpg</string>
			<key>title</key>
			<string>White Cardboard</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>vintage_book_brown.jpg</string>
			<key>folder</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/</string>
			<key>image</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/vintage_book_brown_med.jpg</string>
			<key>image-full</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/vintage_book_brown_source.jpg</string>
			<key>image-high</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/vintage_book_brown_source.jpg</string>
			<key>thumbnail</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/vintage_book_brown_thumb.jpg</string>
			<key>title</key>
			<string>The Brown Book</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>chocolate_frame.jpg</string>
			<key>folder</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/</string>
			<key>image</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/chocolate_frame_source.jpg</string>
			<key>image-full</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/chocolate_frame_source.jpg</string>
			<key>image-high</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/chocolate_frame_source.jpg</string>
			<key>thumbnail</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/chocolate_frame_thumb.jpg</string>
			<key>title</key>
			<string>Chocolate Frame</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>backcover.jpg</string>
			<key>folder</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/</string>
			<key>image</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/backcover_med.jpg</string>
			<key>image-full</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/backcover_source.jpg</string>
			<key>image-high</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/backcover_source.jpg</string>
			<key>thumbnail</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/backcover_thumb.jpg</string>
			<key>title</key>
			<string>Backside</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>vintage_red.jpg</string>
			<key>folder</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/</string>
			<key>image</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/vintage_red_med.jpg</string>
			<key>image-full</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/vintage_red_source.jpg</string>
			<key>image-high</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/vintage_red_source.jpg</string>
			<key>thumbnail</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/vintage_red_thumb.jpg</string>
			<key>title</key>
			<string>Vintage Red</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>water_blue.jpg</string>
			<key>folder</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/</string>
			<key>image</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/water_blue_med.jpg</string>
			<key>image-full</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/water_blue_source.jpg</string>
			<key>image-high</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/water_blue_source.jpg</string>
			<key>thumbnail</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/water_blue_thumb.jpg</string>
			<key>title</key>
			<string>Blue</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>water_pink.jpg</string>
			<key>folder</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/</string>
			<key>image</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/water_pink_med.jpg</string>
			<key>image-full</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/water_pink_source.jpg</string>
			<key>image-high</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/water_pink_source.jpg</string>
			<key>thumbnail</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/water_pink_thumb.jpg</string>
			<key>title</key>
			<string>Pink</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>water_faded.jpg</string>
			<key>folder</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/</string>
			<key>image</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/water_faded_med.jpg</string>
			<key>image-full</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/water_faded_source.jpg</string>
			<key>image-high</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/water_faded_source.jpg</string>
			<key>thumbnail</key>
			<string>http://backstage.mysti.ch/assets/backgrounds/water_faded_thumb.jpg</string>
			<key>title</key>
			<string>Faded</string>
		</dict>
	</array>
	<key>items-colors</key>
	<array>
		<dict>
			<key>_image</key>
			<string>http://backstage.mysti.ch/journal/images/2.jpg</string>
			<key>color</key>
			<string>000000</string>
			<key>color-display</key>
			<string>222222</string>
			<key>enabled</key>
			<true/>
			<key>filename</key>
			<string>blackBackground.jpg</string>
			<key>title</key>
			<string>black</string>
		</dict>
		<dict>
			<key>color</key>
			<string>ffffff</string>
			<key>enabled</key>
			<true/>
			<key>filename</key>
			<string>whiteBackground.jpg</string>
			<key>title</key>
			<string>white</string>
		</dict>
		<dict>
			<key>color</key>
			<string>ffeeca</string>
			<key>enabled</key>
			<true/>
			<key>filename</key>
			<string>colorBg.jpg</string>
			<key>title</key>
			<string>color</string>
		</dict>
	</array>
	<key>items-gradients</key>
	<array>
		<dict>
			<key>gradient</key>
			<array>
				<string>d8e79c</string>
				<string>894e8a|0.5</string>
				<string>191919</string>
			</array>
			<key>title</key>
			<string>Gradient 0</string>
		</dict>
		<dict>
			<key>gradient</key>
			<array>
				<string>007796</string>
				<string>1ebabf|0.23</string>
				<string>eefbcc|0.67</string>
				<string>ced67f</string>
			</array>
			<key>title</key>
			<string>Gradient 1</string>
		</dict>
		<dict>
			<key>gradient</key>
			<array>
				<string>dcf76f</string>
				<string>559472|0.5</string>
				<string>330a0a</string>
			</array>
			<key>title</key>
			<string>Gradient 2</string>
		</dict>
		<dict>
			<key>gradient</key>
			<array>
				<string>f3ffc2</string>
				<string>2fb16c|0.5</string>
				<string>602828</string>
			</array>
			<key>title</key>
			<string>Gradient 3</string>
		</dict>
		<dict>
			<key>gradient</key>
			<array>
				<string>e1eab1</string>
				<string>e05858|0.5</string>
				<string>6a4a4a</string>
			</array>
			<key>title</key>
			<string>Sunburn</string>
		</dict>
		<dict>
			<key>gradient</key>
			<array>
				<string>e1eab1</string>
				<string>2e817c|0.5</string>
				<string>2a1026</string>
			</array>
			<key>title</key>
			<string>Gradient 5</string>
		</dict>
		<dict>
			<key>gradient</key>
			<array>
				<string>e1eab1</string>
				<string>812e2e|0.5</string>
				<string>0b2423</string>
			</array>
			<key>title</key>
			<string>Gradient 6</string>
		</dict>
		<dict>
			<key>gradient</key>
			<array>
				<string>f0e867</string>
				<string>471b0d</string>
			</array>
			<key>title</key>
			<string>Gradient 7</string>
		</dict>
		<dict>
			<key>gradient</key>
			<array>
				<string>2b2b2b</string>
				<string>01a0f0|0.5</string>
				<string>fafa85</string>
			</array>
			<key>title</key>
			<string>Gradient 8</string>
		</dict>
		<dict>
			<key>gradient</key>
			<array>
				<string>2b2b2b</string>
				<string>19a3af|0.5</string>
				<string>fafa85</string>
			</array>
			<key>title</key>
			<string>Gradient 9</string>
		</dict>
		<dict>
			<key>gradient</key>
			<array>
				<string>d64f22</string>
				<string>e6970f|0.5</string>
				<string>50a7cb</string>
			</array>
			<key>title</key>
			<string>Gradient 10</string>
		</dict>
		<dict>
			<key>gradient</key>
			<array>
				<string>c0ffe4</string>
				<string>b7b742</string>
			</array>
			<key>title</key>
			<string>Gradient 11</string>
		</dict>
		<dict>
			<key>gradient</key>
			<array>
				<string>d495d0</string>
				<string>d2d9c1|0.5</string>
				<string>baba7a</string>
			</array>
			<key>title</key>
			<string>Gradient 12</string>
		</dict>
		<dict>
			<key>gradient</key>
			<array>
				<string>87017e</string>
				<string>f01d40</string>
				<string>f6a522</string>
			</array>
			<key>title</key>
			<string>Gradient 13</string>
		</dict>
		<dict>
			<key>gradient</key>
			<array>
				<string>f7758d</string>
				<string>ffc68d</string>
				<string>d4f3a7</string>
			</array>
			<key>title</key>
			<string>Gradient 14</string>
		</dict>
		<dict>
			<key>gradient</key>
			<array>
				<string>230e69</string>
				<string>f7b9f1|0.65</string>
				<string>e776cd</string>
			</array>
			<key>title</key>
			<string>Gradient 15</string>
		</dict>
		<dict>
			<key>gradient</key>
			<array>
				<string>4db3d3</string>
				<string>9a2dd3</string>
			</array>
			<key>title</key>
			<string>Gradient 16</string>
		</dict>
		<dict>
			<key>gradient</key>
			<array>
				<string>9448b9</string>
				<string>d64ca6|0.25</string>
				<string>e1d93b</string>
			</array>
			<key>title</key>
			<string>Gradient 17</string>
		</dict>
		<dict>
			<key>gradient</key>
			<array>
				<string>883d62</string>
				<string>e9527f</string>
				<string>f08b83</string>
				<string>e2ce93</string>
				<string>ecdfb2</string>
				<string>f8f6dd</string>
			</array>
			<key>title</key>
			<string>Gradient 18</string>
		</dict>
		<dict>
			<key>gradient</key>
			<array>
				<string>0a1f2b</string>
				<string>094f56</string>
				<string>adba99</string>
			</array>
			<key>title</key>
			<string>Gradient 19</string>
		</dict>
		<dict>
			<key>gradient</key>
			<array>
				<string>bbe0bf</string>
				<string>e8e5b2</string>
			</array>
			<key>title</key>
			<string>Gradient 20</string>
		</dict>
		<dict>
			<key>gradient</key>
			<array>
				<string>fff8cd</string>
				<string>c5895d|0.63</string>
				<string>462a23</string>
			</array>
			<key>title</key>
			<string>Gradient 21</string>
		</dict>
		<dict>
			<key>gradient</key>
			<array>
				<string>23355d</string>
				<string>01a9d0|0.48</string>
				<string>e5c8a3|0.82</string>
				<string>ba6b4c</string>
			</array>
			<key>title</key>
			<string>Gradient 22</string>
		</dict>
		<dict>
			<key>gradient</key>
			<array>
				<string>565b40</string>
				<string>ae984d</string>
				<string>d89551</string>
				<string>a56048</string>
			</array>
			<key>title</key>
			<string>Gradient 23</string>
		</dict>
		<dict>
			<key>gradient</key>
			<array>
				<string>007796</string>
				<string>1ebabf|0.23</string>
				<string>eefbcc|0.77</string>
				<string>ced67f</string>
			</array>
			<key>title</key>
			<string>Gradient 24</string>
		</dict>
		<dict>
			<key>gradient</key>
			<array>
				<string>36393d</string>
				<string>6b8279|0.37</string>
				<string>bbf1ef</string>
			</array>
			<key>title</key>
			<string>Gradient 25</string>
		</dict>
		<dict>
			<key>gradient</key>
			<array>
				<string>000000</string>
				<string>000000|0.16</string>
				<string>333333|0.72</string>
				<string>333333</string>
			</array>
			<key>title</key>
			<string>Gradient 26</string>
		</dict>
		<dict>
			<key>gradient</key>
			<array>
				<string>f1ce96</string>
				<string>efd2aa|0.13</string>
				<string>bdb7a7|0.30</string>
				<string>848681|0.6</string>
				<string>646665|0.8</string>
				<string>626063</string>
			</array>
			<key>title</key>
			<string>Gradient 27</string>
		</dict>
		<dict>
			<key>gradient</key>
			<array>
				<string>444444</string>
				<string>000000</string>
			</array>
			<key>title</key>
			<string>Gradient 28</string>
		</dict>
		<dict>
			<key>gradient</key>
			<array>
				<string>230e69</string>
				<string>f7b9f1|0.65</string>
				<string>e776cd</string>
			</array>
			<key>title</key>
			<string>Gradient 29</string>
		</dict>
	</array>
</dict>
</plist>
