<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>title</key>
			<string>color</string>
			<key>filename</key>
			<string>colorBg.jpg</string>
			<key>enabled</key>
			<false/>
			<key>color</key>
			<string>85bab7</string>
		</dict>
		<dict>
			<key>title</key>
			<string>color</string>
			<key>filename</key>
			<string>colorBg.jpg</string>
			<key>enabled</key>
			<false/>
			<key>color</key>
			<string>85756b</string>
		</dict>
		<dict>
			<key>title</key>
			<string>color</string>
			<key>filename</key>
			<string>colorBg.jpg</string>
			<key>enabled</key>
			<false/>
			<key>color</key>
			<string>d03339</string>
		</dict>
		<dict>
			<key>title</key>
			<string>color</string>
			<key>filename</key>
			<string>colorBg.jpg</string>
			<key>enabled</key>
			<false/>
			<key>color</key>
			<string>d7837a</string>
		</dict>
		<dict>
			<key>title</key>
			<string>color</string>
			<key>enabled</key>
			<false/>
			<key>filename</key>
			<string>colorBg.jpg</string>
			<key>color</key>
			<string>c68495</string>
		</dict>
		<dict>
			<key>title</key>
			<string>color</string>
			<key>filename</key>
			<string>colorBg.jpg</string>
			<key>enabled</key>
			<false/>
			<key>color</key>
			<string>3cb3c3</string>
		</dict>
		<dict>
			<key>title</key>
			<string>color</string>
			<key>filename</key>
			<string>colorBg.jpg</string>
			<key>enabled</key>
			<false/>
			<key>color</key>
			<string>91c036</string>
		</dict>
		<dict>
			<key>title</key>
			<string>color</string>
			<key>filename</key>
			<string>colorBg.jpg</string>
			<key>enabled</key>
			<false/>
			<key>color</key>
			<string>717171</string>
		</dict>
		<dict>
			<key>title</key>
			<string>color</string>
			<key>filename</key>
			<string>colorBg.jpg</string>
			<key>enabled</key>
			<false/>
			<key>color</key>
			<string>f4c54a</string>
		</dict>
		<dict>
			<key>title</key>
			<string>color</string>
			<key>filename</key>
			<string>colorBg.jpg</string>
			<key>enabled</key>
			<false/>
			<key>color</key>
			<string>fffff3</string>
		</dict>
		<dict>
			<key>title</key>
			<string>color</string>
			<key>enabled</key>
			<false/>
			<key>filename</key>
			<string>colorBg.jpg</string>
			<key>color</key>
			<string>ffab73</string>
		</dict>
		<dict>
			<key>title</key>
			<string>color</string>
			<key>enabled</key>
			<false/>
			<key>filename</key>
			<string>colorBg.jpg</string>
			<key>color</key>
			<string>ba9485</string>
		</dict>
		<dict>
			<key>gradient</key>
			<array>
				<string>d8e79c</string>
				<string>894e8a|0.5</string>
				<string>191919</string>
			</array>
		</dict>
		<dict>
			<key>gradient</key>
			<array>
				<string>007796</string>
				<string>1ebabf|0.23</string>
				<string>eefbcc|0.67</string>
				<string>ced67f</string>
			</array>
		</dict>
		<dict>
			<key>gradient</key>
			<array>
				<string>dcf76f</string>
				<string>559472|0.5</string>
				<string>330a0a</string>
			</array>
		</dict>
		<dict>
			<key>gradient</key>
			<array>
				<string>f3ffc2</string>
				<string>2fb16c|0.5</string>
				<string>602828</string>
			</array>
		</dict>
		<dict>
			<key>gradient</key>
			<array>
				<string>e1eab1</string>
				<string>e05858|0.5</string>
				<string>6a4a4a</string>
			</array>
		</dict>
		<dict>
			<key>gradient</key>
			<array>
				<string>e1eab1</string>
				<string>2e817c|0.5</string>
				<string>2a1026</string>
			</array>
		</dict>
		<dict>
			<key>gradient</key>
			<array>
				<string>e1eab1</string>
				<string>812e2e|0.5</string>
				<string>0b2423</string>
			</array>
		</dict>
		<dict>
			<key>gradient</key>
			<array>
				<string>f0e867</string>
				<string>471b0d</string>
			</array>
		</dict>
		<dict>
			<key>gradient</key>
			<array>
				<string>2b2b2b</string>
				<string>01a0f0|0.5</string>
				<string>fafa85</string>
			</array>
		</dict>
		<dict>
			<key>gradient</key>
			<array>
				<string>2b2b2b</string>
				<string>19a3af|0.5</string>
				<string>fafa85</string>
			</array>
		</dict>
		<dict>
			<key>gradient</key>
			<array>
				<string>d64f22</string>
				<string>e6970f|0.5</string>
				<string>50a7cb</string>
			</array>
		</dict>
		<dict>
			<key>gradient</key>
			<array>
				<string>c0ffe4</string>
				<string>b7b742</string>
			</array>
		</dict>
		<dict>
			<key>gradient</key>
			<array>
				<string>d495d0</string>
				<string>d2d9c1|0.5</string>
				<string>baba7a</string>
			</array>
		</dict>
		<dict>
			<key>gradient</key>
			<array>
				<string>87017e</string>
				<string>f01d40</string>
				<string>f6a522</string>
			</array>
		</dict>
		<dict>
			<key>gradient</key>
			<array>
				<string>f7758d</string>
				<string>ffc68d</string>
				<string>d4f3a7</string>
			</array>
		</dict>
		<dict>
			<key>gradient</key>
			<array>
				<string>230e69</string>
				<string>f7b9f1|0.65</string>
				<string>e776cd</string>
			</array>
		</dict>
		<dict>
			<key>gradient</key>
			<array>
				<string>4db3d3</string>
				<string>9a2dd3</string>
			</array>
		</dict>
		<dict>
			<key>gradient</key>
			<array>
				<string>9448b9</string>
				<string>d64ca6|0.25</string>
				<string>e1d93b</string>
			</array>
		</dict>
		<dict>
			<key>gradient</key>
			<array>
				<string>883d62</string>
				<string>e9527f</string>
				<string>f08b83</string>
				<string>e2ce93</string>
				<string>ecdfb2</string>
				<string>f8f6dd</string>
			</array>
		</dict>
		<dict>
			<key>gradient</key>
			<array>
				<string>0a1f2b</string>
				<string>094f56</string>
				<string>adba99</string>
			</array>
		</dict>
		<dict>
			<key>gradient</key>
			<array>
				<string>bbe0bf</string>
				<string>e8e5b2</string>
			</array>
		</dict>
		<dict>
			<key>gradient</key>
			<array>
				<string>fff8cd</string>
				<string>c5895d|0.63</string>
				<string>462a23</string>
			</array>
		</dict>
		<dict>
			<key>gradient</key>
			<array>
				<string>23355d</string>
				<string>01a9d0|0.48</string>
				<string>e5c8a3|0.82</string>
				<string>ba6b4c</string>
			</array>
		</dict>
		<dict>
			<key>gradient</key>
			<array>
				<string>565b40</string>
				<string>ae984d</string>
				<string>d89551</string>
				<string>a56048</string>
			</array>
		</dict>
		<dict>
			<key>gradient</key>
			<array>
				<string>007796</string>
				<string>1ebabf|0.23</string>
				<string>eefbcc|0.77</string>
				<string>ced67f</string>
			</array>
		</dict>
		<dict>
			<key>gradient</key>
			<array>
				<string>36393d</string>
				<string>6b8279|0.37</string>
				<string>bbf1ef</string>
			</array>
		</dict>
		<dict>
			<key>gradient</key>
			<array>
				<string>000000</string>
				<string>000000|0.16</string>
				<string>333333|0.72</string>
				<string>333333</string>
			</array>
		</dict>
		<dict>
			<key>gradient</key>
			<array>
				<string>f1ce96</string>
				<string>efd2aa|0.13</string>
				<string>bdb7a7|0.30</string>
				<string>848681|0.6</string>
				<string>646665|0.8</string>
				<string>626063</string>
			</array>
		</dict>
		<dict>
			<key>gradient</key>
			<array>
				<string>444444</string>
				<string>000000</string>
			</array>
		</dict>
		<dict>
			<key>gradient</key>
			<array>
				<string>230e69</string>
				<string>f7b9f1|0.65</string>
				<string>e776cd</string>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>black</string>
			<key>_image</key>
			<string>http://backstage.mysti.ch/journal/images/2.jpg</string>
			<key>filename</key>
			<string>blackBackground.jpg</string>
			<key>color</key>
			<string>000000</string>
			<key>color-display</key>
			<string>222222</string>
			<key>enabled</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>white</string>
			<key>filename</key>
			<string>whiteBackground.jpg</string>
			<key>enabled</key>
			<true/>
			<key>color</key>
			<string>ffffff</string>
		</dict>
		<dict>
			<key>title</key>
			<string>color</string>
			<key>filename</key>
			<string>colorBg.jpg</string>
			<key>color</key>
			<string>ffeeca</string>
			<key>enabled</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
