<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>default</key>
	<string>drawStar</string>
	<key>group-packs</key>
	<dict>
		<key>items</key>
		<dict>
			<key>featured_layers</key>
			<array>
				<string>drawStar</string>
				<string>drawInflectedShape</string>
				<string>drawPolygon</string>
				<string>drawSquare</string>
				<string>drawCircle</string>
				<string>drawRoundedRect</string>
				<string>drawSampleShapeWithOptions</string>
				<string>shapes_sextagon</string>
				<string>drawSacredSextagonWithOptions</string>
				<string>drawLine2WithOptions</string>
				<string>drawSacredSpiralWithOptions</string>
				<string>shapes_octagon</string>
				<string>drawDotsWithOptions</string>
				<string>drawDots2WithOptions</string>
				<string>drawDots3WithOptions</string>
				<string>drawDots4WithOptions</string>
				<string>drawDottedLineWithOptions</string>
				<string>drawBuffaloWithOptions</string>
				<string>drawTreeWithOptions</string>
				<string>drawHandStarWithOptions</string>
				<string>drawAntlersWithOptions</string>
				<string>drawSacred1WithOptions</string>
				<string>drawSacredIndianStarCircleWithOptions</string>
				<string>drawSquirelyWithOptions</string>
				<string>drawSacredTriangleWithOptions</string>
				<string>drawBanner2WithOptions</string>
				<string>drawDeerWithOptions</string>
			</array>
			<key>layer_count</key>
			<integer>24</integer>
			<key>packs</key>
			<array>
				<string>basic</string>
				<string>lines</string>
				<string>art</string>
				<string>handdrawn</string>
				<string>sacred</string>
				<string>decorative</string>
				<string>textures</string>
				<string>animals</string>
			</array>
		</dict>
	</dict>
	<key>items</key>
	<dict>
		<key>drawAntlersWithOptions</key>
		<dict>
			<key>group</key>
			<string>shapes</string>
			<key>name</key>
			<string>Antlers</string>
			<key>pack</key>
			<string>decorative</string>
			<key>size</key>
			<string>107x166</string>
		</dict>
		<key>drawBanner2WithOptions</key>
		<dict>
			<key>group</key>
			<string>shapes</string>
			<key>name</key>
			<string>Banner 2</string>
			<key>pack</key>
			<string>decorative</string>
			<key>size</key>
			<string>325x60</string>
		</dict>
		<key>drawBannerWithOptions</key>
		<dict>
			<key>group</key>
			<string>shapes</string>
			<key>name</key>
			<string>Banner</string>
			<key>pack</key>
			<string>decorative</string>
			<key>size</key>
			<string>430x55</string>
		</dict>
		<key>drawBuffaloWithOptions</key>
		<dict>
			<key>group</key>
			<string>shapes</string>
			<key>name</key>
			<string>Buffalo</string>
			<key>pack</key>
			<string>animals</string>
			<key>size</key>
			<string>320x255</string>
		</dict>
		<key>drawCircle</key>
		<dict>
			<key>content</key>
			<string>drawCircle:</string>
			<key>function</key>
			<string>drawCircle:</string>
			<key>group</key>
			<string>shapes</string>
			<key>name</key>
			<string>Circle</string>
			<key>pack</key>
			<string>basic</string>
			<key>size</key>
			<string>320x320</string>
		</dict>
		<key>drawDeerWithOptions</key>
		<dict>
			<key>group</key>
			<string>shapes</string>
			<key>name</key>
			<string>Deer</string>
			<key>pack</key>
			<string>animals</string>
			<key>size</key>
			<string>320x408</string>
		</dict>
		<key>drawDots2WithOptions</key>
		<dict>
			<key>group</key>
			<string>shapes</string>
			<key>name</key>
			<string>Dots 2</string>
			<key>pack</key>
			<string>textures</string>
			<key>size</key>
			<string>180x135</string>
			<key>thumbnailBorderWidth</key>
			<integer>1</integer>
		</dict>
		<key>drawDots3WithOptions</key>
		<dict>
			<key>group</key>
			<string>shapes</string>
			<key>name</key>
			<string>Dots 3</string>
			<key>pack</key>
			<string>textures</string>
			<key>size</key>
			<string>180x135</string>
			<key>thumbnailBorderWidth</key>
			<integer>1</integer>
		</dict>
		<key>drawDots4WithOptions</key>
		<dict>
			<key>group</key>
			<string>shapes</string>
			<key>name</key>
			<string>Dots 4</string>
			<key>pack</key>
			<string>textures</string>
			<key>size</key>
			<string>180x135</string>
			<key>thumbnailBorderWidth</key>
			<integer>1</integer>
		</dict>
		<key>drawDotsWithOptions</key>
		<dict>
			<key>group</key>
			<string>shapes</string>
			<key>name</key>
			<string>Dots</string>
			<key>pack</key>
			<string>textures</string>
			<key>size</key>
			<string>180x135</string>
			<key>thumbnailBorderWidth</key>
			<integer>1</integer>
		</dict>
		<key>drawDottedLineWithOptions</key>
		<dict>
			<key>group</key>
			<string>shapes</string>
			<key>name</key>
			<string>Line</string>
			<key>pack</key>
			<string>handdrawn</string>
			<key>size</key>
			<string>373x6</string>
		</dict>
		<key>drawEagleWithOptions</key>
		<dict>
			<key>group</key>
			<string>shapes</string>
			<key>name</key>
			<string>Eagle</string>
			<key>pack</key>
			<string>animals</string>
			<key>size</key>
			<string>355x128</string>
		</dict>
		<key>drawElkWithOptions</key>
		<dict>
			<key>group</key>
			<string>shapes</string>
			<key>name</key>
			<string>Elk</string>
			<key>pack</key>
			<string>animals</string>
			<key>size</key>
			<string>286x244</string>
		</dict>
		<key>drawHandStarWithOptions</key>
		<dict>
			<key>group</key>
			<string>shapes</string>
			<key>name</key>
			<string>Hand Star</string>
			<key>pack</key>
			<string>decorative</string>
			<key>size</key>
			<string>100x100</string>
		</dict>
		<key>drawInflectedShape</key>
		<dict>
			<key>content</key>
			<string>drawInflectedShape:</string>
			<key>function</key>
			<string>drawInflectedShape:</string>
			<key>group</key>
			<string>shapes</string>
			<key>inflections</key>
			<integer>12</integer>
			<key>name</key>
			<string>Inflected</string>
			<key>pack</key>
			<string>basic</string>
			<key>size</key>
			<string>320x320</string>
		</dict>
		<key>drawLine2WithOptions</key>
		<dict>
			<key>group</key>
			<string>shapes</string>
			<key>name</key>
			<string>Line 2</string>
			<key>pack</key>
			<string>lines</string>
			<key>size</key>
			<string>150x2</string>
		</dict>
		<key>drawPolygon</key>
		<dict>
			<key>content</key>
			<string>drawPolygon:</string>
			<key>function</key>
			<string>drawPolygon:</string>
			<key>group</key>
			<string>shapes</string>
			<key>inflections</key>
			<integer>5</integer>
			<key>name</key>
			<string>Pentagon</string>
			<key>pack</key>
			<string>basic</string>
			<key>size</key>
			<string>320x320</string>
		</dict>
		<key>drawRoundedRect</key>
		<dict>
			<key>content</key>
			<string>drawRoundedRect:</string>
			<key>cornerRadius</key>
			<real>0.10000000000000001</real>
			<key>function</key>
			<string>drawRoundedRect:</string>
			<key>group</key>
			<string>shapes</string>
			<key>name</key>
			<string>Rounded Rectangle</string>
			<key>pack</key>
			<string>basic</string>
			<key>size</key>
			<string>320x320</string>
		</dict>
		<key>drawSacred1WithOptions</key>
		<dict>
			<key>content</key>
			<string>drawSacred1WithOptions:</string>
			<key>function</key>
			<string>drawSacred1WithOptions:</string>
			<key>group</key>
			<string>shapes</string>
			<key>name</key>
			<string>Flower Power</string>
			<key>pack</key>
			<string>sacred</string>
			<key>size</key>
			<string>150x160</string>
			<key>thumbnailBorderWidth</key>
			<real>0.5</real>
		</dict>
		<key>drawSacredIndianStarCircleWithOptions</key>
		<dict>
			<key>content</key>
			<string>drawSacredIndianStarCircleWithOptions:</string>
			<key>function</key>
			<string>drawSacredIndianStarCircleWithOptions:</string>
			<key>group</key>
			<string>shapes</string>
			<key>name</key>
			<string>Circle of Us</string>
			<key>pack</key>
			<string>sacred</string>
			<key>size</key>
			<string>200x200</string>
			<key>thumbnailBorderWidth</key>
			<real>0.5</real>
		</dict>
		<key>drawSacredSextagonWithOptions</key>
		<dict>
			<key>content</key>
			<string>drawSacredSextagonWithOptions:</string>
			<key>function</key>
			<string>drawSacredSextagonWithOptions:</string>
			<key>group</key>
			<string>shapes</string>
			<key>name</key>
			<string>Sacred Sextagon</string>
			<key>pack</key>
			<string>sacred</string>
			<key>size</key>
			<string>168x194</string>
			<key>thumbnailBorderWidth</key>
			<integer>1</integer>
		</dict>
		<key>drawSacredSpiralWithOptions</key>
		<dict>
			<key>content</key>
			<string>drawSacredSpiralWithOptions:</string>
			<key>function</key>
			<string>drawSacredSpiralWithOptions:</string>
			<key>group</key>
			<string>shapes</string>
			<key>name</key>
			<string>Sacred Spiral</string>
			<key>pack</key>
			<string>sacred</string>
			<key>size</key>
			<string>155x155</string>
			<key>thumbnailBorderWidth</key>
			<real>0.5</real>
		</dict>
		<key>drawSacredTriangleWithOptions</key>
		<dict>
			<key>content</key>
			<string>drawSacredTriangleWithOptions:</string>
			<key>function</key>
			<string>drawSacredTriangleWithOptions:</string>
			<key>group</key>
			<string>shapes</string>
			<key>name</key>
			<string>Sacred Triangle</string>
			<key>pack</key>
			<string>sacred</string>
			<key>size</key>
			<string>155x138</string>
			<key>thumbnailBorderWidth</key>
			<real>0.5</real>
		</dict>
		<key>drawSampleShapeWithOptions</key>
		<dict>
			<key>group</key>
			<string>shapes</string>
			<key>name</key>
			<string>Sample Shape</string>
			<key>pack</key>
			<string>art</string>
			<key>size</key>
			<string>283x300</string>
		</dict>
		<key>drawSquare</key>
		<dict>
			<key>group</key>
			<string>shapes</string>
			<key>name</key>
			<string>Square</string>
			<key>pack</key>
			<string>basic</string>
			<key>size</key>
			<string>320x320</string>
		</dict>
		<key>drawSquirelyWithOptions</key>
		<dict>
			<key>group</key>
			<string>shapes</string>
			<key>name</key>
			<string>Swirl</string>
			<key>pack</key>
			<string>decorative</string>
			<key>size</key>
			<string>110x255</string>
		</dict>
		<key>drawStar</key>
		<dict>
			<key>content</key>
			<string>drawStar:</string>
			<key>function</key>
			<string>drawStar:</string>
			<key>group</key>
			<string>shapes</string>
			<key>inflections</key>
			<integer>5</integer>
			<key>name</key>
			<string>Star</string>
			<key>pack</key>
			<string>basic</string>
			<key>size</key>
			<string>320x320</string>
		</dict>
		<key>drawTreeWithOptions</key>
		<dict>
			<key>content</key>
			<string>drawTreeWithOptions:</string>
			<key>group</key>
			<string>shapes</string>
			<key>name</key>
			<string>Tree</string>
			<key>pack</key>
			<string>decorative</string>
			<key>size</key>
			<string>200x300</string>
		</dict>
		<key>sample_shape2.pdf</key>
		<dict>
			<key>color</key>
			<string>clear</string>
			<key>content</key>
			<string>sample_shape2.pdf</string>
			<key>group</key>
			<string>shapes</string>
			<key>name</key>
			<string>Sample Shape2</string>
			<key>pack</key>
			<string>shapes</string>
		</dict>
		<key>shapes_octagon</key>
		<dict>
			<key>content</key>
			<string>drawPolygon:</string>
			<key>function</key>
			<string>drawPolygon:</string>
			<key>group</key>
			<string>shapes</string>
			<key>inflections</key>
			<integer>8</integer>
			<key>name</key>
			<string>Octagon</string>
			<key>pack</key>
			<string>basic</string>
			<key>size</key>
			<string>320x320</string>
		</dict>
		<key>shapes_sextagon</key>
		<dict>
			<key>content</key>
			<string>drawPolygon:</string>
			<key>function</key>
			<string>drawPolygon:</string>
			<key>group</key>
			<string>shapes</string>
			<key>inflections</key>
			<integer>6</integer>
			<key>name</key>
			<string>Sextagon</string>
			<key>pack</key>
			<string>basic</string>
			<key>size</key>
			<string>320x320</string>
		</dict>
	</dict>
	<key>orders</key>
	<dict>
		<key>items</key>
		<array>
			<string>sample_shape2.pdf</string>
			<string>sample_shape.pdf</string>
		</array>
		<key>packs</key>
		<array>
			<string>basic</string>
			<string>lines</string>
			<string>art</string>
			<string>handdrawn</string>
			<string>decorative</string>
			<string>textures</string>
			<string>animals</string>
			<string>sacred</string>
		</array>
	</dict>
	<key>packs</key>
	<dict>
		<key>animals</key>
		<dict>
			<key>tag</key>
			<string>animals</string>
			<key>title</key>
			<string>Animals</string>
		</dict>
		<key>art</key>
		<dict>
			<key>tag</key>
			<string>art</string>
			<key>title</key>
			<string>Art</string>
		</dict>
		<key>basic</key>
		<dict>
			<key>tag</key>
			<string>basic</string>
			<key>title</key>
			<string>Basic</string>
		</dict>
		<key>decorative</key>
		<dict>
			<key>tag</key>
			<string>decorative</string>
			<key>title</key>
			<string>Decorative</string>
		</dict>
		<key>handdrawn</key>
		<dict>
			<key>tag</key>
			<string>handdrawn</string>
			<key>title</key>
			<string>Handdrawn</string>
		</dict>
		<key>lines</key>
		<dict>
			<key>tag</key>
			<string>lines</string>
			<key>title</key>
			<string>Lines</string>
		</dict>
		<key>sacred</key>
		<dict>
			<key>tag</key>
			<string>sacred</string>
			<key>title</key>
			<string>Sacred</string>
		</dict>
		<key>textures</key>
		<dict>
			<key>tag</key>
			<string>textures</string>
			<key>title</key>
			<string>Textures</string>
		</dict>
	</dict>
</dict>
</plist>
