<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>543210</key>
	<array>
		<dict>
			<key>543211</key>
			<integer>27</integer>
			<key>543212</key>
			<string>Settings-Source</string>
			<key>543213</key>
			<integer>1</integer>
			<key>543214</key>
			<dict>
				<key>134</key>
				<real>2.3525640964508057</real>
				<key>keys</key>
				<array>
					<string>134</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>543211</key>
			<integer>8</integer>
			<key>543212</key>
			<string>1177-Look</string>
			<key>543213</key>
			<integer>2</integer>
			<key>543214</key>
			<dict>
				<key>keys</key>
				<array/>
			</dict>
		</dict>
		<dict>
			<key>543211</key>
			<integer>27</integer>
			<key>543212</key>
			<string>Settings-Source</string>
			<key>543213</key>
			<integer>3</integer>
			<key>543214</key>
			<dict>
				<key>150</key>
				<real>1.7051281929016113</real>
				<key>152</key>
				<real>0.11282051354646683</real>
				<key>keys</key>
				<array>
					<string>150</string>
					<string>152</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>543211</key>
			<integer>17</integer>
			<key>543212</key>
			<string>1192-flag-stained</string>
			<key>543213</key>
			<integer>4</integer>
			<key>543214</key>
			<dict>
				<key>130</key>
				<real>1.682692289352417</real>
				<key>149</key>
				<string>{{1.1285140562248996, 0}, {0.82999999999999996, 1}}</string>
				<key>202</key>
				<string>{{1.1285140562248996, 0}, {1.0028554572271386, 1}}</string>
				<key>203</key>
				<string>{{0, 0}, {0.82763671875, 1}}</string>
				<key>keys</key>
				<array>
					<string>130</string>
					<string>149</string>
					<string>203</string>
					<string>202</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>543211</key>
			<integer>17</integer>
			<key>543212</key>
			<string>264-Dust-Bunny</string>
			<key>543213</key>
			<integer>5</integer>
			<key>543214</key>
			<dict>
				<key>118</key>
				<real>0.33269232511520386</real>
				<key>134</key>
				<real>3.4743590354919434</real>
				<key>140</key>
				<real>0.54006409645080566</real>
				<key>keys</key>
				<array>
					<string>140</string>
					<string>118</string>
					<string>134</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>543215</key>
	<string>/proj-d16084--0-original__2048x1356.jpg</string>
	<key>543216</key>
	<string>/proj-d16084--4-source__2048x1356-4.jpg</string>
	<key>543217</key>
	<string>/proj-d16084--4-smallpreview__750x498-4.jpg</string>
	<key>543219</key>
	<string>{750, 498}</string>
</dict>
</plist>
